.container {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
  width: 500px;
  text-align: center;
}

.container div{
	display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 5px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
